body {
    background-color: #ff42a8;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    color: #19020e;
    font-family: baskerville;
}

.externalBox {
    display: flex;
    align-items: flex-start;
    flex-flow: wrap;
}
