body {
    background-color: #ff42a8;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    color: #19020e;
    font-family: baskerville;
}

.externalBox {
    display: flex;
    align-items: flex-start;
}

.buttonAdd {
    border-radius: 20px;
    color:#ff42a8;
    background-color: #19020e;
}

.buttonRemove {
    border-radius: 20px;
    color:#ff42a8;
    background-color: #19020e;
}