.singleBox {
  position: relative;
  margin: 1em;
  border-color: #19020e;
  min-height: 100px;
  width: auto;
}

.inputTitle {
  position: absolute;
  right: 32em;
  bottom: 35em;
}

.inputIdea {
  position: absolute;
  right: 32em;
  bottom: 33em;
  overflow: hidden;
  text-overflow: ellipsis;
}
